div{
  background-color: aquamarine;
  height: 190px;
  width: 190px;
  margin: 5px 5px 5px 5px;
  display: block;
}

.blue{
  background-color: blue;
}

.yellow{
  background-color: yellow;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

